<header class="header">
  <nav class="navbar">
    <div class="nav-brand">
      <a href="/">Express CRUD</a>
    </div>
    <ul class="nav-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/products/new">Add Product</a></li>
      <li><a href="/api/products" target="_blank">API</a></li>
    </ul>
  </nav>
</header>
